:root {
    --light: #ffffff;
    --med: #f9f9f9;
    --med-dark: #808080;
    --dark: #000000;
}

body {
    font-family: Sans-Serif;
    margin: 0 50px;
    background-color: var(--light);
    color: var(--dark);
}

@media screen {
    .print-only {
        display: none;
    }
}

@media print {
    body {
        margin: auto;
    }
}