:root {
    --light: #ffffff;
    --med: #f9f9f9;
    --med-dark: #808080;
    --dark: #000000;
}

@font-face {
    font-family: "Roboto_Mono";
    src: url(RobotoMono.ttf);
}

body {
    font-family: "Roboto_Mono", monospace;
    margin: 0 50px;
    background-color: var(--light);
    color: var(--dark);
}

blockquote {
    background: var(--med);
    border-left: 10px solid var(--med-dark);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: var(--med-dark);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.section {
    background: var(--med);
    padding-left: 5px;
    padding-right: 5px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.flex p {
    font-weight: bold;
    color: var(--med);
    background-color: var(--med-dark);
    padding: 20px;
    margin: 0px;
}

.flex p:hover {
    background-color: var(--dark);
}

@media screen {
    .print-only {
        display: none;
    }
}

@media print {
    body {
        margin: auto;
    }
}